<div class="container-xxl">
  <header class="row align-items-center">
    <div class="col-1 mx-0 px-0"><img class="img-fluid" src="../assets/images/note.png" alt="Music note"></div>
    <div class="col">
      <h1>Requêtes musicales</h1>
    </div>
  </header>
  <div class="row">
    <div class="col-3 m-2">
      <form (ngSubmit)="searchArtistAlbums()" *ngIf="!result">
        <input type="text" name="artistName" class="form-control" placeholder="Nom d'un artiste" [(ngModel)]="artist">
        <input type="submit" value="Rechercher l'artiste et ses albums" class="btn btn-light">
      </form>
      <form (ngSubmit)="newSearch()" *ngIf="result">
        <input type="submit" value="Nouvelle recherche">
      </form>
    </div>
    <div class="col artists">
      <h2>Résultats</h2>

      <div *ngIf="result">
        <div *ngIf="selectedAlbumResult">
          <!-- Affichage des chansons de album 🤩 -->
          <div class="row">
            <h3>Détails de l'album "{{ selectedAlbum?.album }}"</h3>
          </div>
          <div class="col-3">
            <img src="{{ selectedAlbum?.album }}" alt="{{ selectedAlbum?.album }}" class="img-fluid">
          </div>
          <div class="col">
            <!-- Afficher la liste des pistes de l'album -->
            <h4>Pistes :</h4>
            <ul>
              <li *ngFor="let t of tracks">{{ t }}</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Affichage des albums de l'artistes 😩 -->
      <div class="row">
        <ng-container *ngFor="let a of albumList">
          <div (click)="searchAlbumTracks(a.album, a.artist)" class="col-3 p-1">
            <div class="card mb-3">
              <img src="{{ a.albumImg }}" class="card-img-top" alt="{{ a.album }}">
              <div class="card-body">
                <p class="card-title">{{ a.album }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>

  </div>
</div>